<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :origin_id, label: '', input_html: {value: src.id}, as: :hidden, readonly: true %>
    <%= f.input :quote, label: 'Quote the origin', input_html: {style: "min-height: 150px;"} %>
    <div class="row">
      <div class="col-md-2">
        <%= f.input :page %>
      </div>
      <div class="col-md-10">
        <%= f.input :reference, label: 'Extra reference to be sure?' %>
      </div>
    </div>
    <%= f.input :commentary, label: 'Any commentary on the quote?' %>
  </div>
  <hr>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
