<p id="notice"><%= notice %></p>
<h3><%= @idea.expression %></h3>
<div class="pinched" style="padding: 2rem;"><%= simple_format(@idea.description, style: "font-size: 15px;") %></div>
<div>
  <div class="panel"></div>
  <%= link_to 'Edit', edit_idea_path(@idea) %> |
  <%= link_to ideas_path do %>
    Link ideas <i class="fi-link"></i> <sup><%= @idea.links.count %></sup>
  <%end%>
</div>
<h3>Related quotes</h3><br>
<%= form_tag url_for(:controller => 'notes', :action => 'searched_in_idea'), :method => :get do %>
    <%= hidden_field_tag :idea_id, @idea.id  %>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag(type: "submit", :name => nil, class: "btn btn-default") do %>
      <i class='fi-magnifying-glass'></i>
    <% end %>
<% end %>
<div class="row">
<% @origins_notes.each do |src, notes| %>
<div class="col-md-6 notebyorigin">
  <div class="col-md-6">
    <div>
      Notes for <strong><%= truncate_html(src.title, length: 35, omission: '...') %></strong>
      <br>from: <b><%= src.author %></b>
    </div>
          <%= link_to origin_path(src) do %>
            <%= image_tag src.origin_img.url(:origin_index), class: "origin-thumb" %>
          <% end %>
  </div>
<% notes.sort_by{|notes| notes.page}.each do |note| %>
  <div class="col-md-6">
    <br><font size="6" color="#dab10d"><strong><i class="fi-quote"></i></strong></font>
    <%= truncate_html(note.quote.html_safe, length: 130, omission: '...') %>
    <a href="#" data-toggle="modal" data-target="#see_note_<%= note.id %>"> see more</a>
    <p class="text-right"><font size="6" color="#dab10d"><stong><i class="fi-quote text-right"></stong></i></font><i>pg <strong><%= note.page %></strong>.</i></p>
    </strong><i>Extra reference</i>: <strong><%= note.reference %></strong></font>
    <div>
          <%= link_to "See the full note", note_path(note), class: "alink" %>|
          <%= link_to "Edit", edit_note_path(note), class: "alink" %>
    </div>
    <hr>
  </div>
  <div>
    <div class="modal fade" id="see_note_<%= note.id %>" role="dialog" aria-labelledby="see_note_<%= note.id %>" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width: 65%">
        <div class="modal-content">
          <div class="modal-body">
            <% @note = note %>
            <% @origin = src %>
            <%= render template: "notes/show" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
  <% end %>
</div>
<br><br><br>footer
