<div class="row">

	<div class="col-md-4">

		<%= image_tag @source.source_img.url(:source_show), class: "source-show" %>

	</div>

	<div class="col-md-8">

		<div class="source-info">

			<h2 class="source-title"><%= @source.title %></h2>
			<h3 class="source-author"><span>From</span> <%= @source.author %></h3>
			<h2 class="avg-rating">Average Rating</h2>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews">Based on <%= @source.reviews.count %> reviews</span>
			<p class="source-desc"><%= @source.description %></p>

		</div>
	</div>


</div>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">

			<!-- Where the reviews/ratings will go -->
			<h1>Reviews</h1>
			<%= render @source.reviews %>

			<div>
				<%= link_to "Add Review", new_source_review_path(@source), class: "btn-custom" %>
			</div>

		</div>	

	</div>

</div>

<div class="links btn-group">

	<%= link_to "Back", root_path, class: "btn btn-custom" %>

	<% if user_signed_in? %>

		<% if @source.user_id == current_user.id %>

			<%= link_to "Edit", edit_source_path(@source), class: "btn btn-custom" %>
			<%= link_to "Delete", source_path(@source), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

		<% end %>

	<% end %>	

</div>	


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>


<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>