<h1 class="current-category"><%= params[:category] %></h1>
<div class="row">
	<div class="col-md-3">
		<%= link_to new_origin_path, class: "btn-custom2" do %>
			<i class="fi-plus"></i> Add source
		<% end %>
	</div>
	<div class="col-md-3">
		<br>
		<%= form_tag root_path, :method => :get do %>
				<%= text_field_tag :search, params[:search] %>
				<%= button_tag(type: "submit", :name => nil, class: "btn btn-default") do %>
					<i class='fi-magnifying-glass'></i>
				<% end %>
		<% end %>
	</div>
</div>
<br><br>
<% if @real_count == 0 && @origins.count == 0 %>
	<h1>There are no source currently in this category</h1>

<% elsif @origins.count == 0 && params[:search].present? %>
	<h1>There are no result for "<%= params[:search] %>"</h1>

<% else %>
	<div class="row">
		<% @origins.each do |src| %>
			<% if params[:search].present? %>
				<% origin = src.searchable %>
			<% else %>
				<% origin = src %>
			<% end %>
			<div class="col-md-3">
				<div>
					<%= link_to origin do %>
						<%= image_tag origin.origin_img.url(:origin_index), class: "origin" %>
						<%= origin.title %>
					<%end%>
					<br>
					by: <%= origin.author %>
				</div>
			</div>

		<% end %>

	</div>

<% end %>
